* {
  margin: 0;
  padding: 0;
  background: #353535;
  font: 16px Roboto, sans-serif;
}

.container-login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 380px;
  height: 420px;
  position: relative;
  background: #fff;
  padding: 5px;
  border-radius: 10px;
}

.bottom-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.input-group {
  top: 190px;
  width: 280px;
  margin: 5px auto;
  transition: 0.5s;
  background: white;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 100%;
  color: white;
  padding: 5px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #28a745;
  outline: none;
  border: 2px solid green;
  border-radius: 5px;
  margin-top: 40px;
  /* font-weight: bold; */
  font-size: 1.5rem;
}
.submit-btn:hover {
  animation-name: fillButton;
  animation-duration: 0.2s;
  color: green;
  background: white;
}
#login {
  left: 50px;
  background-color: white;
}

.logo {
  display: block;
  margin: auto;
  background-color: white;
}

@keyframes fillButton {
  from {
    background-color: #28a745;
  }
  to {
    background: white;
  }
}
